/* CSS 작성 */
.header {
  position: absolute;
  width: 1020px;
  height: 40px;
  top: 100px;
  left: 321px;
  margin-bottom: 40px;
}

header h1,
header a {
  width: 176px;
  height: 40px;
  margin: 0 0 40px 0;
}

header h1 a img {
  width: 176px;
  height: 40px;
}

.section {
  position: absolute;
  width: 1020px;
  height: 1010px;
  top: 180px;
  left: 321px;
}

.today {
  display: flex;
  align-items: center;
}

.today h2 {
  margin: 0 0 24px 0;
  color: var(--color-black-100);
}

.today h3 {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0 24px 0;
  color: var(--color-gray-100);
}

.today h4 {
  margin: 0 0 24px 0;
  color: var(--color-gray-100);
}

.container {
  position: relative;
  top: -16px;
}

.product-ul-top,
.product-ul-body,
.product-ul-bottom {
  display: flex;
  list-style: none;
  padding-left: 0;
  width: 1020px;
  height: 310px;
}

.product-list-a {
  width: 502px;
  height: 310px;
  margin-right: 16px;
}

.product-a {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 502px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-100);
}

.product-img-a {
  box-sizing: border-box;
  padding: 20px 28px;
}

.product-list-b {
  width: 243px;
  height: 310px;
  margin-right: 16px;
}

.product-b {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 243px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-100);
}

.product-img-b {
  box-sizing: border-box;
  padding: 14px 22px;
}

ul li:last-of-type {
  margin-right: 0;
}

.product-a:hover {
  border: 1px solid var(--color-blue-100);
}

.product-b:hover {
  border: 1px solid var(--color-blue-100);
}

/* svg */

.buy {
  background-color: var(--color-gray-100);
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.product-a:hover .buy,
.product-b:hover .buy {
  position: absolute;
  padding-left: 70px;
  background-color: var(--color-blue-100);
  opacity: 1;
}

.product-a:hover .buy::before,
.product-b:hover .buy::before {
  position: absolute;
  content: "구매하기";
  display: none;
  opacity: 0.8;
}

.product-a:hover .buy::after,
.product-b:hover .buy::after {
  position: absolute;
  content: "구매하기";
  font-size: 15px;
  font-weight: 600;
  width: 114px;
  top: 8px;
  left: 20px;
  color: var(--color-white-100);
}

/* focus */

.product-a:focus .buy,
.product-b:focus .buy {
  position: absolute;
  padding-left: 70px;
  background-color: var(--color-blue-100);
  opacity: 1;
}

.product-a:focus .buy::before,
.product-b:focus .buy::before {
  position: absolute;
  content: "구매하기";
  display: none;
  opacity: 0.8;
}

.product-a:focus .buy::after,
.product-b:focus .buy::after {
  position: absolute;
  content: "구매하기";
  font-size: 15px;
  font-weight: 600;
  width: 114px;
  top: 8px;
  left: 20px;
  color: var(--color-white-100);
}
